<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeSheet_Tracker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <TimeSheet_Tracker.My.MySettings>
            <setting name="Friday_Date" serializeAs="String">
                <value>06/22/2012</value>
            </setting>
            <setting name="monday_date" serializeAs="String">
                <value />
            </setting>
            <setting name="tuesday_date" serializeAs="String">
                <value />
            </setting>
            <setting name="wednesday_date" serializeAs="String">
                <value />
            </setting>
            <setting name="thursday_date" serializeAs="String">
                <value />
            </setting>
            <setting name="saturday_date" serializeAs="String">
                <value />
            </setting>
            <setting name="sunday_date" serializeAs="String">
                <value />
            </setting>
            <setting name="oldedit" serializeAs="String">
                <value />
            </setting>
            <setting name="newedit" serializeAs="String">
                <value />
            </setting>
        </TimeSheet_Tracker.My.MySettings>
    </userSettings>
</configuration>