<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Northshore_Time_Sheet_10._12.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <Northshore_Time_Sheet_10._12.My.MySettings>
            <setting name="date1" serializeAs="String">
                <value />
            </setting>
            <setting name="date2" serializeAs="String">
                <value />
            </setting>
            <setting name="date3" serializeAs="String">
                <value />
            </setting>
            <setting name="date4" serializeAs="String">
                <value />
            </setting>
            <setting name="date5" serializeAs="String">
                <value />
            </setting>
            <setting name="date6" serializeAs="String">
                <value />
            </setting>
            <setting name="date7" serializeAs="String">
                <value />
            </setting>
            <setting name="date8" serializeAs="String">
                <value />
            </setting>
            <setting name="date9" serializeAs="String">
                <value />
            </setting>
            <setting name="date10" serializeAs="String">
                <value />
            </setting>
            <setting name="date11" serializeAs="String">
                <value />
            </setting>
            <setting name="date12" serializeAs="String">
                <value />
            </setting>
            <setting name="date13" serializeAs="String">
                <value />
            </setting>
            <setting name="date14" serializeAs="String">
                <value />
            </setting>
            <setting name="date15" serializeAs="String">
                <value />
            </setting>
            <setting name="date16" serializeAs="String">
                <value />
            </setting>
            <setting name="date17" serializeAs="String">
                <value />
            </setting>
            <setting name="date18" serializeAs="String">
                <value />
            </setting>
            <setting name="date19" serializeAs="String">
                <value />
            </setting>
            <setting name="date20" serializeAs="String">
                <value />
            </setting>
            <setting name="date21" serializeAs="String">
                <value />
            </setting>
            <setting name="date22" serializeAs="String">
                <value />
            </setting>
            <setting name="date23" serializeAs="String">
                <value />
            </setting>
            <setting name="date24" serializeAs="String">
                <value />
            </setting>
            <setting name="date25" serializeAs="String">
                <value />
            </setting>
            <setting name="job1" serializeAs="String">
                <value />
            </setting>
            <setting name="job2" serializeAs="String">
                <value />
            </setting>
            <setting name="job3" serializeAs="String">
                <value />
            </setting>
            <setting name="job4" serializeAs="String">
                <value />
            </setting>
            <setting name="job5" serializeAs="String">
                <value />
            </setting>
            <setting name="job6" serializeAs="String">
                <value />
            </setting>
            <setting name="job7" serializeAs="String">
                <value />
            </setting>
            <setting name="job8" serializeAs="String">
                <value />
            </setting>
            <setting name="job9" serializeAs="String">
                <value />
            </setting>
            <setting name="job10" serializeAs="String">
                <value />
            </setting>
            <setting name="job11" serializeAs="String">
                <value />
            </setting>
            <setting name="job13" serializeAs="String">
                <value />
            </setting>
            <setting name="job14" serializeAs="String">
                <value />
            </setting>
            <setting name="job15" serializeAs="String">
                <value />
            </setting>
            <setting name="job16" serializeAs="String">
                <value />
            </setting>
            <setting name="job17" serializeAs="String">
                <value />
            </setting>
            <setting name="job18" serializeAs="String">
                <value />
            </setting>
            <setting name="job19" serializeAs="String">
                <value />
            </setting>
            <setting name="job20" serializeAs="String">
                <value />
            </setting>
            <setting name="job21" serializeAs="String">
                <value />
            </setting>
            <setting name="job22" serializeAs="String">
                <value />
            </setting>
            <setting name="job23" serializeAs="String">
                <value />
            </setting>
            <setting name="job24" serializeAs="String">
                <value />
            </setting>
            <setting name="job25" serializeAs="String">
                <value />
            </setting>
            <setting name="min1" serializeAs="String">
                <value />
            </setting>
            <setting name="min2" serializeAs="String">
                <value />
            </setting>
            <setting name="min3" serializeAs="String">
                <value />
            </setting>
            <setting name="min4" serializeAs="String">
                <value />
            </setting>
            <setting name="min5" serializeAs="String">
                <value />
            </setting>
            <setting name="min6" serializeAs="String">
                <value />
            </setting>
            <setting name="min7" serializeAs="String">
                <value />
            </setting>
            <setting name="min8" serializeAs="String">
                <value />
            </setting>
            <setting name="min9" serializeAs="String">
                <value />
            </setting>
            <setting name="min10" serializeAs="String">
                <value />
            </setting>
            <setting name="min11" serializeAs="String">
                <value />
            </setting>
            <setting name="min12" serializeAs="String">
                <value />
            </setting>
            <setting name="min13" serializeAs="String">
                <value />
            </setting>
            <setting name="min14" serializeAs="String">
                <value />
            </setting>
            <setting name="min15" serializeAs="String">
                <value />
            </setting>
            <setting name="min16" serializeAs="String">
                <value />
            </setting>
            <setting name="min17" serializeAs="String">
                <value />
            </setting>
            <setting name="min18" serializeAs="String">
                <value />
            </setting>
            <setting name="min19" serializeAs="String">
                <value />
            </setting>
            <setting name="min20" serializeAs="String">
                <value />
            </setting>
            <setting name="min21" serializeAs="String">
                <value />
            </setting>
            <setting name="min22" serializeAs="String">
                <value />
            </setting>
            <setting name="min23" serializeAs="String">
                <value />
            </setting>
            <setting name="min24" serializeAs="String">
                <value />
            </setting>
            <setting name="min25" serializeAs="String">
                <value />
            </setting>
            <setting name="hr1" serializeAs="String">
                <value />
            </setting>
            <setting name="hr2" serializeAs="String">
                <value />
            </setting>
            <setting name="hr3" serializeAs="String">
                <value />
            </setting>
            <setting name="hr4" serializeAs="String">
                <value />
            </setting>
            <setting name="hr5" serializeAs="String">
                <value />
            </setting>
            <setting name="hr6" serializeAs="String">
                <value />
            </setting>
            <setting name="hr7" serializeAs="String">
                <value />
            </setting>
            <setting name="hr8" serializeAs="String">
                <value />
            </setting>
            <setting name="hr9" serializeAs="String">
                <value />
            </setting>
            <setting name="hr10" serializeAs="String">
                <value />
            </setting>
            <setting name="hr11" serializeAs="String">
                <value />
            </setting>
            <setting name="hr12" serializeAs="String">
                <value />
            </setting>
            <setting name="hr13" serializeAs="String">
                <value />
            </setting>
            <setting name="hr14" serializeAs="String">
                <value />
            </setting>
            <setting name="hr15" serializeAs="String">
                <value />
            </setting>
            <setting name="hr16" serializeAs="String">
                <value />
            </setting>
            <setting name="hr17" serializeAs="String">
                <value />
            </setting>
            <setting name="hr18" serializeAs="String">
                <value />
            </setting>
            <setting name="hr19" serializeAs="String">
                <value />
            </setting>
            <setting name="hr20" serializeAs="String">
                <value />
            </setting>
            <setting name="hr21" serializeAs="String">
                <value />
            </setting>
            <setting name="hr22" serializeAs="String">
                <value />
            </setting>
            <setting name="hr23" serializeAs="String">
                <value />
            </setting>
            <setting name="hr24" serializeAs="String">
                <value />
            </setting>
            <setting name="hr25" serializeAs="String">
                <value />
            </setting>
            <setting name="job12" serializeAs="String">
                <value />
            </setting>
        </Northshore_Time_Sheet_10._12.My.MySettings>
    </userSettings>
</configuration>